
.task{
  margin: 2rem 0;
}
#deleteTask{
  color: #fff;
  background-color: #212529;
}
.task-btn{
  border: .05px solid #ced4da;  
  border-radius: 12px;
  margin-top: 0;
  color: #fff;
  background-color: #777;
}
.add-task-btn {
  border: 0px;
  color: #fff;
  font-size: 15px;
  background-color: #247bbf;
  font-family: Lato, sans-serif;
  cursor: pointer;
  margin-top: 0 ;
}
#search-task, .searchCategory{
  text-indent: .5rem;
  padding: .375rem .75rem;
  /* background-color: #f8f9fa; */
}
#search-task{
  background-color: #f8f9fa;
  color: #000;
}



/* ToDo display  */

.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 12px;
  }
  
  .active[class="collapsible"], .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after[class="collapsible"] {
    content: "\2212";
  }
  
  .content {
    margin-left: 20.25rem;
    width: 50%;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* Card ToDo */
.card-img-top {
  width: fit-content;
  object-fit: contain;
  border: .05px solid #ced4da;
}
.card-body{
  padding: 0;
}
.card-title {
  margin: .5rem;
}
.card{
  flex-direction: row;
}
.list-group{
  flex-direction: column;
  margin: auto;
}
.list-group-item{
  padding: .25rem 1.25rem;
}


  .todoCheckbox{
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(3);
    margin-right: 1rem;
  }
  button:focus{
    outline: none!important;
  }
  .edit-todo{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 12px;
  }
 
  .hide{
    display: none;
  }
  .show{
    display: block;
  }